<% layout('layouts/boilerplate') %>
  <%- include('../layouts/partials/navbar')%>
  
  <div class="container col-12">

    <!-- <h1>All People Details</h1> -->
    <% People.forEach(function(person){ %>
      <div class="card col-12 shadow p-3 mt-3 bg-body rounded" style="max-height: 30rem;" >
        <div class="row">
          <div class=" col-md-3 mx-auto "; style="display:flex; justify-content: center; align-items:center"  >
            <img src="<%= person.selectedFile %>" alt="<%=person.name%> Image" class="img-fluid rounded-start " style="height: 9rem;" >
          </div>
          <div class=" col-md-9" >
            <div class="card-body"> 
              
              <h5 class="card-title"><%= person.name %></h5>
              
              <div class="card-tex d-flex" >
                <p>Age: <%= person.age %> </p>
                <p class="mx-3">Gender: <%= person.gender %></p>
                <p>Status: <%= person.status===0 ? 'Missing' : 'Wanted' %></p>
              </div>
              <a class="btn btn-primary" href="/police/view/<%=person.id%>">Details </a>
              <!-- <p class="card-text"><small class="text-body-secondary">Last updated at <%= person.lastUpdated%></small></p> -->
            </div>
          </div>
        </div>
      </div>
      
      
      
      <% }) %>
    </div>