<!DOCTYPE html>
<html>
<head>
  <title>Missing Details</title>
</head>
<body>

    <a href="/police">
    <button >Home</button>
    </a>

  <h1>Missing Person:</h1>
    <div>
        <!-- <h1>hi</h1> -->
        <img id="image" src="<%= person.selectedFile %>" alt="Converted Image" width="20%" height="20%">
        <h2><%= person.name %></h2>
        <p>Age: <%= person.age %></p>
        <p>Gender: <%= person.gender %></p>
        <p>Details: <%= person.details %></p> 
        
        <%  if(person.status === 0){ %>
                <p>Status: Still Not Found</p>
        <%  }else{ %>
                <p>Status: Found</p>
        <%  } %>
        <%  if(person.locations.length > 0){ %>
            <ul>
        <%  (person.locations).forEach(function(locat){ %>
                <li><%= locat.location %></li>
            </ul>
        <%  })} %> 
        <% const id = person._id.toString() %>
        <% console.log(id) %>
        <div>
            <a href="/police/edit/<%=id%>">
                <button>Edit</button>
            </a>
            <form action="/police/delete/<%=id%>" method="POST">
                <button type="submit">Delete</button>
            </form>
                
        </div>
    </div>


</body>
</html>